<div class="site-intro js-site-intro">
    <div class="site-intro__top js-site-intro-top"></div>
    <div class="site-intro__bottom js-site-intro-bottom"></div>
    <div class="site-intro__line js-site-intro-line">
        <div class="site-intro__line__drag js-site-intro-drag">
            <div class="site-intro__line__drag__text js-site-intro-drag-text">
                Tirez moi jusqu'à droite !
            </div>
        </div>
    </div>
    <div class="site-intro__waypoint js-site-intro-waypoint"></div>
    <div class="site-intro__cursor js-site-intro-cursor">
        <div class="site-intro__cursor__hand"></div>
        <div class="site-intro__cursor__drag"></div>
    </div>
    <div class="site-intro__hello">
        <div class="js-site-intro-hello">Hello <span class="js-site-intro-hello-hand">👋</span></div>
    </div>
</div>